h1 {
  font-family: 'Dancing Script', serif;
  font-size: 250%;
  text-align: left;
  margin-top:0.2em;
}
h1.font-effect-outline {
  color: rgb(95, 93, 93);
}
.border{
  color:rgb(130, 126, 125);
  font-size:140%;
}
h2{
  color:rgb(139, 123, 121);
  margin-top:0.1em;
}

h4{
  color:rgb(184, 179, 157);
}
.dark{
  color:rgb(109, 116, 113);
  padding-left:8em;
}
p {
  color:rgb(130, 126, 125);
  font-size: 100%;
  margin-bottom:0.5em;
}
h5{
  color:rgb(131, 119, 114);
  margin-top:0.1em;
  margin-bottom:3em;
}
body {
  font-family: 'Cinzel Decorative', serif;
  background-image: url("background_(1)(1).png");
  background-size: cover;
  background-attachment: fixed;
}

.align {
  display: table;
  margin: auto;
  text-align: left;
  text-indent: -0.1em;
}
.decoration{
  display:flex;
  padding-left:1.4em;
}
.link{
  display:flex;
  font-family:'sofia',san-serif;
  font-size:1.1em;
  padding-left:3.7em;
  color:rgb(139, 123, 121);
}
a:visited{
  color:rgb(87,87,87);
}
.decoration::before {
  content: "౨ৎ";
  color:rgb(145, 131, 131);
  font-size: 1.2em;
  font-weight:450;
  margin-right: 0.6em;
}
